<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error">
            <%= errorMessage %>
        </div>
        <% } %>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>