<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error">
            <%= errorMessage %>
        </div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
            method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(err => err.param === 'title') ? 'invalid' : '' %>" name="title"
                    id="title" type="text" value="<% if (editing || hasError) { %><%= product.title %><% } %>" />
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input class="<%#= validationErrors.find(err => err.param === 'imageUrl') ? 'invalid' : '' %>"
                    name="imageUrl" id="imageUrl" type="text"
                    value="<%# if (editing || hasError) { %><%#= product.imageUrl %><%# } %>">
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input name="image" id="image" type="file">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(err => err.param === 'price') ? 'invalid' : '' %>" name="price"
                    id="price" type="number" step="0.01"
                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="category">Select a Category</label>
                <select class="<%= validationErrors.find(err => err.param === 'category') ? 'invalid' : '' %>"
                    name="category" id="category">
                    <option value="none"
                        <% if (editing || hasError) { if (product.category === '' || product.category == null) {%>
                        selected disabled hidden <% } } %>>
                        Select an Option
                    </option>
                    <option value="guitars" <% if (editing || hasError) { if (product.category === 'guitars') {%>
                        selected <% } } %>>Guitars
                    </option>
                    <option value="bass-guitars"
                        <% if (editing || hasError) { if (product.category === 'bass-guitars') {%> selected <% } } %>>
                        Bass Guitars</option>
                    <option value="keyboards" <% if (editing || hasError) { if (product.category === 'keyboards') {%>
                        selected <% } } %>>
                        Keyboards & Synth
                    </option>
                    <option value="pianos" <% if (editing || hasError) { if (product.category === 'pianos') {%> selected
                        <% } } %>>Pianos</option>
                    <option value="studio" <% if (editing || hasError) { if (product.category === 'studio') {%> selected
                        <% } } %>>Studio & Recording</option>
                    <option value="microphones"
                        <% if (editing || hasError) { if (product.category === 'microphones') {%> selected <% } } %>>
                        Microphones</option>
                    <option value="drums" <% if (editing || hasError) { if (product.category === 'drums') {%> selected
                        <% } } %>>Drums & Percussion</option>
                    <option value="accessories"
                        <% if (editing || hasError) { if (product.category === 'accessories') {%> selected <% } } %>>
                        Accessories</option>
                </select>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(err => err.param === 'description') ? 'invalid' : '' %>"
                    name="description" id="description"
                    rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
            <input type="hidden" value="<%= product._id %>" name="productId" />
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit"><% if (editing) { %> Update Product <% } else { %> Add Product <% } %>
            </button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>